<div class="row">
    <div id="projects" class="background-alt">
        <h2 class="heading">Projects</h2>
        <div class="container">
            <div>
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="../../../assets/project.png" />
                    </div>
                    <div class="project-info">
                        <h3>My Portfolio</h3>
                        <p>
                            Este es un proyecto que hice para Argentina Programa
                        </p>
                        <a href="https://frontendfsg.web.app/">View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>