<div id="education">
    <h2 class="heading">Educación</h2>
    <div class="education-block">
        <h3>Universidad Nacional de La Plata</h3>
        <span class="education-date">2021 - current</span>
        <h4>Analista programador universitario</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
        </p>
    </div>

    <div class="education-block">
        <h3>Argentina Programa</h3>
        <span class="education-date">2021 - 2022</span>
        <h4>Curso de Desarrollador web full stack junior</h4>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
        </ul>
    </div>
</div>