<div class="row">
    <footer class="background-alt">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 copyright">
                    <p>
                        Copyright &copy; <span id="current-year">2022</span> Fabricio Santiago Giudici
                    </p>
                </div>
                <div class="col-sm-5">
                    <app-social></app-social>
                </div>
            </div>
        </div>
    </footer>
</div>