.heading{
    position:relative;
    color: #74808a;
    text-align: center;
    font-size:2em;
    font-weight:300;
    margin:0 0 10px 0;
}
.heading:after{
    position:absolute;
    content:'';
    top:100%;
    height:1px;
    width:50px;
    left: 0;
    right:0;
    margin:0 auto;
    background:#74808a;
}


#about{
    padding:75px 15px;
    border-bottom:1px solid #dcd9d9;
}

#about h2{
    color:#374054;
}

#about p{
    color:#74808a;
    margin:0;
}
@media only screen and (max-width: 992px){
    #about{
        text-align:center;
    }
    #about p{
        text-align:left;
    }
}
