<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilepic.png" class="img-fluid" id="profilepic">
    </div> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Fabricio Santiago Giudici</h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>About me</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam nobis praesentium
                 fugit asperiores odit dolorum voluptas consectetur velit quas amet! Dolore libero
                  distinctio quod beatae fugiat odit ex hic repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam nobis praesentium
                  fugit asperiores odit dolorum voluptas consectetur velit quas amet! Dolore libero
                   distinctio quod beatae fugiat odit ex hic repudiandae.
            </p>
        </span>
    </div>
</div>