<div class="row">
    <div id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <h2 class="heading"><img src="../../../assets/profilepic.png" alt="" ></h2>
                    <h2 class="heading">About Me</h2>                              
                </div>
                <div class="col-md-8">
                    <p>
                        Soy un estudiante de programacion en la universidad nacional de La Plata
                         aspirando a ser un full stack developer senior.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>