<div class="row">
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        Soy un estudiante de programacion en la universidad nacional de La Plata Lorem ipsum dolor sit amet
                         consectetur adipisicing elit.Sit iure magni placeat porro nulla officiis nesciunt fugiat debitis,
                          consectetur vitae repellat facere,libero molestiae deleniti! Cum quos sint dolorem obcaecati.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>