<div class="row">
    <div id="skills" class="background-alt">
        <h2 class="heading">Skills</h2>
        <div class="col-lg-2">
            <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">New Skill</button>
        </div>
        <div>
            <ul>
                <li *ngFor="let skill of skill">
                    <circle-progress 
                    [percent]="(skill.porcentaje)" 
                    [radius]="90" [imageSrc]="''"
                    [title]="(skill.nombre)" 
                    [titleColor]="'#212F3C'" 
                    [showTitle]="true" 
                    [showImage]="false"
                    [imageHeight]="70" 
                    [imageWidth]="70" 
                    [showUnits]="false" 
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16" 
                    [innerStrokeWidth]="2" 
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" 
                    [animation]="true" 
                    [animationDuration]="600">
                    </circle-progress>
                    <div *ngIf="isLogged">
                        <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
                            <i class="bi bi-pencil"></i> Edit
                        </button>
                        <button class="btn btn-danger" (click)="delete(skill.id)">
                            <i class="bi bi-trash3-fill"></i> Delete
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>