<div class="row">
    <div id="skills" class="background-alt">
        <h2 class="heading">Skills</h2>
        <ul>
            <li><circle-progress
                [percent]="85"
                [radius]="50"
                [title]="'English'"
                [titleFontSize]="'1em'"
                [showUnits]="false"
                [subtitle]="'C2'"
                [subtitleFontSize]="'medium'"
                [subtitleFontWeight]="'heavy'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="1"
                [subtitleColor]="'#000000'"
                [outerStrokeColor]="'#74808a'"
                [innerStrokeColor]="'#74808a'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
            <li><circle-progress
                [percent]="80"
                [radius]="50"
                [imageSrc]="'../../../assets/htmlicon.png'"
                [showImage]="true"
                [imageHeight]="40"
                [imageWidth]="35"
                [showUnits]="false"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="1"
                [subtitleColor]="'#74808a'"
                [outerStrokeColor]="'#74808a'"
                [innerStrokeColor]="'#74808a'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
            </li>     
            <li><circle-progress
                [percent]="75"
                [radius]="50"
                [imageSrc]="'../../../assets/cssicon.png'"
                [showImage]="true"
                [imageHeight]="40"
                [imageWidth]="35"
                [showUnits]="false"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="1"
                [subtitleColor]="'#74808a'"
                [outerStrokeColor]="'#74808a'"
                [innerStrokeColor]="'#74808a'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress></li>
            <li><circle-progress
                [percent]="70"
                [radius]="50"
                [imageSrc]="'../../../assets/jsicon.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                [showUnits]="false"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="1"
                [subtitleColor]="'#74808a'"
                [outerStrokeColor]="'#74808a'"
                [innerStrokeColor]="'#74808a'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress></li>
            <li id="icongit"><circle-progress
                [percent]="80"
                [radius]="50"
                [imageSrc]="'../../../assets/git.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                [showUnits]="false"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="1"
                [subtitleColor]="'#74808a'"
                [outerStrokeColor]="'#74808a'"
                [innerStrokeColor]="'#74808a'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress></li>
        </ul>
    </div>
</div>
